<form  nz-form >
    <nz-form-item>
      <nz-form-label [nzSpan]="12">单词</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="word" type="text" id="word">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
        <nz-form-label [nzSpan]="12">释义</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="semantics" type="text" id="semantics">
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
        <nz-form-label [nzSpan]="12">音标</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="symbols" type="text" id="symbols">
        </nz-form-control>
      </nz-form-item >
</form>